@charset "UTF-8";
* {
  border: 0px;
  margin: 0px;
  padding: 0px; }

html,
body {
  width: 100%;
  height: 100%; }

head link#favicon {
  background-image: url("../img/icon.png");
  background-position: -122px -226px; }

div.blank {
  flex: 1; }

div.header {
  display: flex;
  height: 53px;
  align-items: center;
  justify-content: center; }
  div.header div.wrapper {
    display: flex;
    width: 935px;
    height: 100%;
    /* 높이를 지정하지 않으면 자식 크기만큼 높이를 가짐 */
    padding: 12px 0px;
    /* width, height에 맞춰 padding이 적용되도록 변경 */
    box-sizing: border-box;
    align-items: center;
    justify-content: center; }
    div.header div.wrapper div.logo {
      background-image: url("../img/icon.png");
      background-position: -122px -226px;
      width: 103px;
      height: 29px;
      top: 4px;
      cursor: pointer; }
    div.header div.wrapper div.search-frame {
      position: relative; }
      div.header div.wrapper div.search-frame input.search {
        width: 216px;
        height: 28px;
        font-family: 'nsL';
        text-align: left;
        background-color: #fafafa;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        box-sizing: border-box;
        padding-left: 28px;
        padding-right: 28px; }
        div.header div.wrapper div.search-frame input.search::placeholder {
          text-align: center;
          color: #8e8e8e; }
        div.header div.wrapper div.search-frame input.search:focus {
          outline: none; }
        div.header div.wrapper div.search-frame input.search:focus::placeholder {
          text-align: left; }
      div.header div.wrapper div.search-frame div.search-icon {
        position: absolute;
        background-image: url("../img/icon.png");
        background-position: -399px -321px;
        width: 10px;
        height: 10px;
        top: 9px;
        left: 80px; }
      div.header div.wrapper div.search-frame div.search-cancel {
        display: none;
        position: absolute;
        background-image: url("../img/icon.png");
        background-position: -321px -336px;
        width: 14px;
        height: 14px;
        top: 7px;
        right: 8px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding-bottom: 2px;
        cursor: pointer; }
    div.header div.wrapper button.login {
      width: 60px;
      height: 30px;
      font-family: 'nsM';
      color: #ffffff;
      background-color: #2e9afe;
      border-radius: 4px;
      margin-right: 8px;
      cursor: pointer; }
      div.header div.wrapper button.login:focus {
        outline: none; }
    div.header div.wrapper button.join {
      width: 60px;
      height: 30px;
      font-family: 'nsM';
      color: #2e9afe;
      background-color: #ffffff;
      border-radius: 4px;
      cursor: pointer; }
      div.header div.wrapper button.join:focus {
        outline: none; }

div.header-line {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6; }

div.content {
  width: 100%;
  height: calc(100% - 54px);
  background-color: #fafafa;
  overflow-x: hidden;
  overflow-y: scroll; }
  div.content div.wrapper {
    width: 935px;
    height: 100%;
    margin: 0 auto; }
    div.content div.wrapper div.hashtag {
      display: flex;
      width: 100%;
      height: 150px;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 44px; }
      div.content div.wrapper div.hashtag img#main-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        padding: 6px 6px 6px 0px;
        cursor: pointer; }
      div.content div.wrapper div.hashtag div.result {
        width: 100%;
        margin-left: 50px; }
        div.content div.wrapper div.hashtag div.result div.keyword span {
          font-size: 28px;
          font-family: 'nsL';
          margin-bottom: 4px; }
          div.content div.wrapper div.hashtag div.result div.keyword span:nth-child(1) {
            font-size: 26px; }
        div.content div.wrapper div.hashtag div.result div.count {
          margin-bottom: 28px; }
          div.content div.wrapper div.hashtag div.result div.count span:nth-child(1) {
            font-family: 'nsL'; }
          div.content div.wrapper div.hashtag div.result div.count span:nth-child(2) {
            font-family: 'nsM'; }
        div.content div.wrapper div.hashtag div.result button.follow {
          width: 128px;
          font-size: 14px;
          line-height: 18px;
          font-family: 'nsM';
          text-align: center;
          color: #ffffff;
          background-color: rgba(var(--d69, 0, 149, 246), 1);
          border: 1px solid transparent;
          border-radius: 4px;
          box-sizing: border-box;
          padding: 5px 9px;
          cursor: pointer; }
          div.content div.wrapper div.hashtag div.result button.follow:focus {
            outline: none; }
          div.content div.wrapper div.hashtag div.result button.follow.active {
            color: #262626;
            background-color: #fafafa;
            border-color: #e6e6e6; }
    div.content div.wrapper p.title {
      display: flex;
      width: 100%;
      font-size: 15px;
      font-family: 'nsM';
      color: #8e8e8e; }
    div.content div.wrapper p.recent {
      margin-top: 74px; }
    div.content div.wrapper div.posts {
      display: grid;
      position: relative;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      grid-template-columns: repeat(3, 1fr);
      /* 1fr 1fr 1fr */
      grid-gap: 28px; }
      div.content div.wrapper div.posts div.image-container {
        position: relative;
        width: 293px;
        height: 293px;
        cursor: pointer; }
        div.content div.wrapper div.posts div.image-container div.numbers {
          display: none;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          background-color: rgba(0, 0, 0, 0.3);
          align-items: center;
          justify-content: center;
          z-index: 1; }
          div.content div.wrapper div.posts div.image-container div.numbers div.icon-wrapper {
            display: flex;
            align-items: center; }
            div.content div.wrapper div.posts div.image-container div.numbers div.icon-wrapper div.likes-icon {
              background-image: url("../img/icon.png");
              background-position: -339px -332px;
              width: 20px;
              height: 20px;
              margin-right: 8px; }
            div.content div.wrapper div.posts div.image-container div.numbers div.icon-wrapper div.comments-icon {
              background-image: url("../img/icon.png");
              background-position: -381px -332px;
              width: 20px;
              height: 20px;
              margin-right: 8px; }
            div.content div.wrapper div.posts div.image-container div.numbers div.icon-wrapper span {
              font-size: 16px;
              font-family: 'nsL';
              color: #ffffff; }
            div.content div.wrapper div.posts div.image-container div.numbers div.icon-wrapper:nth-child(1) {
              margin-right: 24px; }
        div.content div.wrapper div.posts div.image-container img.post {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          object-fit: fill; }

@font-face {
  font-family: 'nsB';
  src: url("../font/NotoSansKR-Bold.otf"); }

@font-face {
  font-family: 'nsM';
  src: url("../font/NotoSansKR-Medium.otf"); }

@font-face {
  font-family: 'nsL';
  src: url("../font/NotoSansKR-Light.otf"); }
