* {
  border: 0px;
  margin: 0px;
  padding: 0px; }

html,
body {
  width: 100%;
  height: 95%;
  background-color: #fafafa; }

div.header {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  div.header div.wrapper {
    display: flex;
    width: 360px;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0px; }
    div.header div.wrapper img.logo {
      margin: 14px 0px 2px 0px; }
    div.header div.wrapper span {
      font-size: 18px;
      font-family: 'nsM';
      color: #8e8e8e;
      background-color: #ffffff; }
    div.header div.wrapper div {
      margin-top: 16px;
      margin-bottom: 8px; }
      div.header div.wrapper div button.facebook {
        position: relative;
        width: 280px;
        height: 30px;
        font-size: 13px;
        font-family: 'nsM';
        color: #ffffff;
        background-color: #2e9afe;
        border-color: #2e9afe;
        border-radius: 4px;
        padding-left: 8px;
        cursor: pointer; }
        div.header div.wrapper div button.facebook img {
          position: absolute;
          width: 20px;
          height: 18px;
          top: 7px;
          left: 58px; }
    div.header div.wrapper p.line {
      font-size: 14px;
      color: #cccaca;
      margin: 8px 0px; }
      div.header div.wrapper p.line span {
        font-size: 14px;
        color: #6b6a6a; }
    div.header div.wrapper div.input {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 6px 0px; }
      div.header div.wrapper div.input input {
        width: 280px;
        height: 34px;
        color: #8e8e8e;
        background-color: #fafafa;
        border: #dbdbdb 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        margin: 2px 0px;
        padding: 0px 8px;
        cursor: pointer; }
        div.header div.wrapper div.input input:focus {
          outline: none; }
        div.header div.wrapper div.input input:hover {
          font-size: 10px; }
    div.header div.wrapper button.join {
      width: 280px;
      height: 30px;
      font-size: 14px;
      font-family: 'nsM';
      color: #ffffff;
      background-color: #b3dffc;
      border-color: #b3dffc;
      border-radius: 4px;
      margin: 10px 0px 6px 0px;
      cursor: pointer; }
      div.header div.wrapper button.join:focus {
        outline: none; }
    div.header div.wrapper p.agree {
      font-size: 12px;
      font-family: 'nsL';
      text-align: center;
      color: #8e8e8e;
      margin: 10px 0px; }
      div.header div.wrapper p.agree span {
        font-size: 12px;
        font-family: 'nsM';
        cursor: pointer; }
  div.header div.login {
    display: flex;
    width: 360px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px 0px; }
    div.header div.login span {
      font-family: 'nsM';
      color: #2e9afe;
      margin-left: 4px;
      cursor: pointer; }
  div.header div.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px; }
    div.header div.download span {
      font-size: 14px; }
    div.header div.download div {
      margin-top: 16px; }
      div.header div.download div img {
        cursor: pointer; }

div.footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #fafafa;
  flex-direction: column;
  align-items: center; }
  div.footer div.wrapper {
    width: 1012px;
    height: 25px;
    padding: 38px 0px; }
    div.footer div.wrapper div {
      display: flex;
      font-size: 12px;
      font-family: 'nsM';
      color: #00376b;
      margin-right: 16px;
      margin-bottom: 3px; }
      div.footer div.wrapper div span {
        display: inline-block;
        margin-bottom: 7px;
        margin-right: 16px;
        cursor: pointer; }
      div.footer div.wrapper div p.copyright {
        right: 0;
        font-size: 12px;
        color: #8e8e8e; }

@font-face {
  font-family: 'nsB';
  src: url("../font/NotoSansKR-Bold.otf"); }

@font-face {
  font-family: 'nsM';
  src: url("../font/NotoSansKR-Medium.otf"); }

@font-face {
  font-family: 'nsL';
  src: url("../font/NotoSansKR-Light.otf"); }
