* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

div.blank {
    flex: 1;
}

div.header {
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: center;

    div.wrapper {
        display: flex;
        width: 935px;
        height: 100%;
        /* 높이를 지정하지 않으면 자식 크기만큼 높이를 가짐 */
        padding: 12px 0px;
        /* width, height에 맞춰 padding이 적용되도록 변경 */
        box-sizing: border-box;
        align-items: center;
        justify-content: center;

        div.logo {
            background-image: url('../img/icon.png');
            background-position: -122px -226px;
            width: 103px;
            height: 29px;
            cursor: pointer;
        }

        div {
            position: relative;

            input.search {
                width: 200px;
                height: 26px;
                font-family: 'nsL';
                text-align: left;
                background-color: #fafafa;
                border: 1px solid #e6e6e6;
                border-radius: 4px;
                box-sizing: border-box;
                padding-left: 28px;
                padding-right: 28px;

                &::placeholder {
                    text-align: center;
                }

                &:focus {
                    outline: none;
                }

                &:focus::placeholder {
                    text-align: left;
                }
            }

            div.search-icon {
                position: absolute;
                background-image: url('../img/icon.png');
                background-position: -399px -321px;
                width: 10px;
                height: 10px;
                top: 8px;
                left: 70px;
            }

            div.search-cancel {
                display: none;
                position: absolute;
                background-image: url('../img/icon.png');
                background-position: -321px -336px;
                width: 14px;
                height: 14px;
                top: 6px;
                right: 8px;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                padding-bottom: 2px;
                cursor: pointer;
            }
        }

        button.login {
            width: 60px;
            height: 30px;
            font-family: 'nsM';
            color: #ffffff;
            background-color: #2e9afe;
            border-radius: 4px;
            margin-right: 8px;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        button.join {
            width: 60px;
            height: 30px;
            font-family: 'nsM';
            color: #2e9afe;
            background-color: #ffffff;
            border-radius: 4px;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }
}

div.header-line {
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
}

div.content {
    display: flex;
    width: 100%;
    flex: 1;
    background-color: #fafafa;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;

    div.hashtag {
        display: flex;
        width: 935px;
        height: 240px;
        padding-top: 30px;
        padding-bottom: 30px;
        box-sizing: border-box;

        img#main-image {
            width: 150px;
            height: 150px;
            border: 3px solid #d10123;
            border-radius: 50%;
            padding: 6px;
            cursor: pointer;
        }

        div.result {
            display: flex;
            width: 100%;
            max-width: 935px;
            flex-direction: column;
            justify-content: center;
            margin-left: 50px;

            div.keyword {
                font-size: 28px;
                font-family: 'nsL';
                margin-bottom: 12px;
            }

            div.count {
                margin-bottom: 28px;

                span:nth-child(1) {
                    font-family: 'nsL';
                }

                span:nth-child(2) {
                    font-family: 'nsM';
                }
            }

            button.follow {
                width: 127px;
                font-size: 14px;
                line-height: 18px;
                font-family: 'nsM';
                text-align: center;
                color: #ffffff;
                background-color: rgba(var(--d69, 0, 149, 246), 1);
                border: 1px solid transparent;
                border-radius: 4px;
                box-sizing: border-box;
                padding: 5px 9px;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                &.active {
                    color: #262626;
                    background-color: #fafafa;
                    border-color: #e6e6e6;
                }
            }
        }
    }

    p.title {
        display: flex;
        width: 935px;
        font-size: 15px;
        font-family: 'nsM';
        color: #8e8e8e;
    }

    p.recent {
        margin-top: 74px;
    }

    div.posts {
        display: grid;
        position: relative;
        width: 935px;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        grid-template-columns: repeat(3, 1fr); /* 1fr 1fr 1fr */
        grid-gap: 28px;

        div.image-container {
            position: relative;
            width: 293px;
            height: 293px;
            cursor: pointer;

            div.numbers {
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                background-color: rgba(0, 0, 0, 0.3);
                align-items: center;
                justify-content: center;
                z-index: 1;

                div.wrapper {
                    display: flex;
                    align-items: center;

                    div.likes-icon {
                        background-image: url('../img/icon.png');
                        background-position: -339px -332px;
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }

                    div.comments-icon {
                        background-image: url('../img/icon.png');
                        background-position: -381px -332px;
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }

                    span {
                        font-size: 16px;
                        font-family: 'nsL';
                        color: #ffffff;
                    }

                    &:nth-child(1) {
                        margin-right: 24px;
                    }
                }
            }

            img.post {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                object-fit: fill;
            }
        }
    }
}

div.modal-post {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    align-items: center;
    justify-content: center;
    z-index: 1;

    svg.post-close {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 18px;
        right: 18px;
        cursor: pointer;
    }

    div.wrapper {
        display: flex;
        position: relative;
        width: 935px;
        height: 600px;
        background-color: #ffffff;
        flex-direction: row;

        div.image {
            position: relative;
            width: 600px;
            height: 100%;
            align-items: center;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            div.heart-wrapper {
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                text-align: center;

                div.heart {
                    position: absolute;
                    background-image: url('../img/icon.png');
                    width: 120px;
                    height: 120px;
                }
            }
        }

        div.post-content {
            display: flex;
            height: 100%;
            flex: 1;
            flex-direction: column;

            div.user {
                display: flex;
                width: 100%;
                border-bottom: 1px #dbdbdb solid;
                flex-direction: row;
                align-items: center;
                box-sizing: border-box;
                padding: 20px 20px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    cursor: pointer;
                }

                a {
                    font-size: 12px;
                    font-family: 'nsM';
                    padding: 0px 14px;
                    cursor: pointer;
                }

                span {
                    font-size: 12px;
                    font-family: 'nsM';
                }

                button.follow {
                    color: #2e9afe;
                    font-size: 14px;
                    font-family: 'nsM';
                    background-color: transparent;
                    outline: none;
                    cursor: pointer;
                }

                a.etc {
                    right: 0;
                    font-family: 'nsB';
                    cursor: pointer;
                }
            }

            div.rest {
                display: flex;
                width: 100%;
                height: 525px;
                flex-direction: column;

                div.text {
                    width: 100%;
                    height: calc(100%-32px);
                    box-sizing: border-box;
                    overflow-y: scroll;
                    padding: 20px;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    div.top,
                    div.center,
                    div.bottom {
                        display: flex;
                        width: 100%;
                        margin-bottom: 20px;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 20px;
                            margin-right: 12px;
                            cursor: pointer;
                        }

                        div.posting {
                            position: relative;
                            flex: 1;

                            div {
                                a.id {
                                    font-size: 12px;
                                    font-family: 'nsM';
                                    padding-right: 4px;
                                    cursor: pointer;
                                }

                                p.comment {
                                    font-size: 14px;
                                    font-family: 'nsL';
                                    padding-right: 34px;
                                }

                                p {
                                    font-size: 14px;
                                    font-family: 'nsL';
                                    padding-right: 4px;
                                }

                                a.tag {
                                    font-size: 14px;
                                    font-family: 'nsL';
                                    color: #00376b;
                                    background-color: #ffffff;
                                    cursor: pointer;
                                }
                            }

                            p.time {
                                font-size: 12px;
                                color: #dbdbdb;
                                margin: 10px 0px 4px 0px;
                                cursor: pointer;
                            }

                            div.info {
                                display: flex;

                                p.time {
                                    font-size: 13px;
                                    font-family: 'nsM';
                                    color: #dbdbdb;
                                    margin: 10px 10px 4px 0px;
                                    cursor: pointer;
                                }

                                p.like {
                                    font-size: 13px;
                                    font-family: 'nsM';
                                    color: #8e8e8e;
                                    margin: 10px 10px 4px 0px;
                                    cursor: pointer;
                                }

                                p.reply {
                                    font-size: 13px;
                                    font-family: 'nsM';
                                    color: #8e8e8e;
                                    margin: 10px 0px 4px 0px;
                                    cursor: pointer;
                                }
                            }
                            p.see-reply {
                                font-size: 13px;
                                font-family: 'nsM';
                                color: #8e8e8e;
                                margin: 10px 0px 4px 0px;
                                cursor: pointer;
                            }

                            button.option {
                                display: none;
                                position: absolute;
                                width: 22px;
                                height: 22px;
                                top: -4px;
                                right: 32px;
                                font-family: 'nsB';
                                color: #8e8e8e;
                                background-color: #ffffff;
                                padding: 4px;
                                outline: none;
                                cursor: pointer;
                            }

                            svg.heart-no {
                                display: flex;
                                position: absolute;
                                width: 14px;
                                height: 12px;
                                top: 8px;
                                right: 10px;
                                cursor: pointer;
                            }

                            svg.heart-yes {
                                display: none;
                                position: absolute;
                                width: 14px;
                                height: 12px;
                                top: 8px;
                                right: 10px;
                                fill: #ed4956;
                                cursor: pointer;
                            }
                        }
                    }

                    div.center {
                        flex: 1;
                    }
                }

                div.buttons {
                    display: flex;
                    border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
                    padding: 14px 8px 10px 16px;
                    margin-top: 4px;

                    button {
                        width: 24px;
                        height: 24px;
                        background-color: transparent;
                        margin-right: 16px;
                        outline: none;
                        cursor: pointer;

                        svg.like-yes {
                            display: none;
                            fill: #ed4956;
                        }
                    }

                    button.save {
                        margin-right: 6px;
                        outline: none;

                        svg.save-yes {
                            display: none;
                        }
                    }
                }

                button.likes-count {
                    background-color: transparent;
                    font-family: 'nsM';
                    text-align: start;
                    margin-bottom: 4px;
                    padding-left: 16px;
                    padding-right: 16px;
                    outline: none;
                    cursor: pointer;
                }

                div.post-date {
                    font-size: 10px;
                    line-height: 18px;
                    color: #8e8e8e;
                    letter-spacing: 0.2px;
                    padding-left: 16px;
                }

                div.comment-wrapper {
                    display: flex;
                    width: 100%;
                    min-height: 56px;
                    border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
                    align-items: center;
                    box-sizing: border-box;
                    margin-top: 8px;
                    padding-left: 16px;
                    padding-right: 16px;

                    textarea {
                        height: 44px;
                        flex: 1;
                        font-size: 14px;
                        font-family: 'nsM';
                        color: #8e8e8e;
                        resize: none;
                        overflow: hidden;
                        box-sizing: border-box;
                        margin-right: 10px;
                        padding-top: 10px;

                        &:focus {
                            outline: none;
                        }
                    }

                    button.submit {
                        height: 100%;
                        font-family: 'nsM';
                        color: #0096f6;
                        background-color: transparent;
                        opacity: 0.3;
                        margin-top: -4px;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
        }

        div.previous {
            position: absolute;
            background-image: url('../img/icon.png');
            background-position: -186px -136px;
            width: 30px;
            height: 30px;
            top: 290px;
            left: -30px;
            cursor: pointer;
        }

        div.next {
            position: absolute;
            background-image: url('../img/icon.png');
            background-position: -260px -190px;
            width: 30px;
            height: 30px;
            top: 290px;
            right: -30px;
            cursor: pointer;
        }
    }
}

div.post-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;

    div.wrapper {
        display: flex;
        width: 400px;
        max-height: 100%;
        background-color: #ffffff;
        border-radius: 12px;
        flex-direction: column;
        align-items: center;

        button {
            width: 100%;
            min-height: 48px;
            font-size: 14px;
            text-align: center;
            line-height: 1.5px;
            background-color: transparent;
            border-top: 1px solid #dbdbdb;
            padding: 4px 8px;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:nth-child(1) {
                color: #ed4956;
                border-top: none;
            }
        }
    }
}

div.comment-report,
div.story-report {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;

    div.wrapper {
        display: flex;
        width: 400px;
        max-height: 100%;
        background-color: #ffffff;
        border-radius: 12px;
        flex-direction: column;
        align-items: center;

        button {
            width: 100%;
            min-height: 48px;
            font-size: 14px;
            text-align: center;
            line-height: 1.5px;
            background-color: transparent;
            border-top: 1px solid #dbdbdb;
            padding: 4px 8px;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:nth-child(1) {
                border-top: none;
            }

            &.comment-menu {
                color: #ed4956;
            }
        }
    }
}

div.modal-story {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #262626;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    div.wrapper {
        display: flex;
        position: relative;
        width: 560px;
        height: 100%;
        align-items: center;
        flex-direction: column;

        div.previous,
        div.next {
            display: none;
            background-image: url('../img/icon.png');
        }

        &:hover {
            div.previous {
                display: flex;
                position: absolute;
                width: 30px;
                height: 30px;
                top: 45%;
                left: -44px;
                background-position: -130px -98px;
                cursor: pointer;
            }

            div.next {
                display: flex;
                position: absolute;
                width: 30px;
                height: 30px;
                top: 45%;
                right: -44px;
                background-position: -162px -98px;
                cursor: pointer;
            }
        }

        div.header {
            display: flex;
            position: relative;
            width: 466px;
            justify-content: flex-start;
            padding-top: 26px;

            img#profile {
                width: 34px;
                height: 34px;
                border-radius: 17px;
                cursor: pointer;
            }

            p.text {
                font-size: 14px;
                font-family: 'nsL';
                color: #ffffff;
                margin-top: -22px;
                margin-left: 14px;
                cursor: pointer;
            }

            p.time {
                font-size: 14px;
                font-family: 'nsL';
                color: #b6b3b3;
                margin-top: -22px;
                margin-left: 10px;
            }

            p.user {
                position: absolute;
                left: 48px;
                top: 52px;
                font-size: 11px;
                font-family: 'nsL';
                color: #ffffff;
                cursor: pointer;
            }

            a.declaration {
                color: #ffffff;
                cursor: pointer;
            }
        }

        div.header-line {
            width: 466px;
            height: 1px;
            background-color: #ffffff;
            margin: 12px 0px;
        }

        div.story-content {
            display: flex;
            position: relative;
            width: 466px;
            background-color: #000000;
            flex: 1;
            align-items: center;
            margin-bottom: 14px;

            img#story {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            svg.story-close {
                position: absolute;
                width: 24px;
                height: 24px;
                top: 8px;
                right: -46px;
                fill: #ffffff;
                cursor: pointer;
            }
        }
    }
}

div.modal-direct {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;

    div.wrapper {
        display: flex;
        width: 400px;
        max-height: 400px;
        background-color: #ffffff;
        border-radius: 12px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div.title {
            display: flex;
            position: relative;
            width: 100%;
            height: 43px;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #dbdbdb;

            span {
                width: 352px;
                font-size: 16px;
                font-family: 'nsM';
                text-align: center;
            }

            svg {
                position: absolute;
                width: 24px;
                height: 24px;
                right: 14px;
                fill: #262626;
            }
        }

        div.frame {
            padding: 8px 0px 8px 0px;

            button {
                display: flex;
                width: 400px;
                min-height: 48px;
                font-size: 14px;
                line-height: 1.5px;
                text-align: left;
                background-color: transparent;
                align-items: center;
                padding: 8px 16px;
                cursor: pointer;

                div.direct {
                    background-image: url('../img/icon-two.png');
                    background-position: -52px -370px;
                    width: 24px;
                    height: 24px;
                    margin-left: 4px;
                }

                div.facebook {
                    background-image: url('../img/icon-two.png');
                    background-position: -182px -370px;
                    width: 24px;
                    height: 24px;
                    margin-left: 4px;
                }

                div.messenger {
                    background-image: url('../img/icon-two.png');
                    background-position: -346px -298px;
                    width: 24px;
                    height: 24px;
                    margin-left: 4px;
                }

                div.twitter {
                    background-image: url('../img/icon-two.png');
                    background-position: -372px -298px;
                    width: 24px;
                    height: 24px;
                    margin-left: 4px;
                }

                div.email {
                    background-image: url('../img/icon-two.png');
                    background-position: -130px -396px;
                    width: 24px;
                    height: 24px;
                    margin-left: 4px;
                }

                div.link {
                    background-image: url('../img/icon-two.png');
                    background-position: -52px -396px;
                    width: 24px;
                    height: 24px;
                    margin-left: 4px;
                }

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: #fcf9f9;
                }

                &:nth-child(1) {
                    border-top: none;
                }

                &:nth-child(7) {
                    font-family: 'nsM';
                    padding-left: 62px;
                }

                span {
                    font-family: 'nsM';
                    padding-left: 18px;
                }
            }
        }
    }
}

@font-face {
    font-family: 'nsB';
    src: url('../font/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'nsM';
    src: url('../font/NotoSansKR-Medium.otf');
}

@font-face {
    font-family: 'nsL';
    src: url('../font/NotoSansKR-Light.otf');
}
