* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

div.blank {
    flex: 1;
}

div.header {
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: center;

    div.wrapper {
        display: flex;
        width: 935px;
        height: 100%;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 12px 0px;

        div.logo {
            background-image: url('../img/icon.png');
            background-position: -122px -226px;
            width: 103px;
            height: 29px;
            cursor: pointer;
        }

        div {
            position: relative;

            input.search {
                width: 200px;
                height: 26px;
                font-family: 'nsL';
                text-align: center;
                background-color: #fafafa;
                border: 1px solid #e6e6e6;
                border-radius: 4px;

                &:focus {
                    outline: none;
                }
            }

            div.search-icon {
                position: absolute;
                background-image: url('../img/icon.png');
                background-position: -399px -321px;
                width: 10px;
                height: 10px;
                top: 8px;
                left: 70px;
            }
        }

        div.buttons {
            display: flex;
            align-items: center;
            justify-content: center;

            a.button {
                position: relative;
                width: 22px;
                height: 22px;
                margin-left: 22px;
                cursor: pointer;

                svg {
                    width: 22px;
                    height: 22px;
                }

                &.black-heart {
                    display: none;
                }
            }

            div.post-activity {
                display: none;
                position: absolute;
                width: 510px;
                height: 240px;
                top: 38px;
                right: -14px;
                background-color: #ffffff;
                box-shadow: 0px 0px 2px 2px #e8e8e8;
                border-radius: 8px;
                flex-direction: column;
                cursor: pointer;

                div.bg {
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    z-index: 10;
                }

                div.tail {
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    top: -6px;
                    right: 67px;
                    background-color: #ffffff;
                    box-shadow: 1px 1px 1px 0.5px #e8e8e8;
                    transform: rotateZ(225deg);
                }

                div {
                    display: flex;
                    width: 510px;
                    height: 240px;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    z-index: 20;

                    div#heart-image {
                        background-image: url('../img/icon.png');
                        background-position: -306px -132px;
                        height: 62px;
                        width: 62px;
                    }

                    a.activity {
                        width: 500px;
                        font-size: 14px;
                        text-align: center;
                        margin-top: 16px;
                    }
                }
            }

            div.profile {
                position: relative;
                width: 26px;
                height: 26px;
                border: 1px solid rgba(var(--i1d, 38, 38, 38), 1);
                border-radius: 50%;
                margin-left: 20px;
                cursor: pointer;

                img {
                    width: 22px;
                    height: 22px;
                    border-radius: 22px;
                    padding: 2px;
                }

                div.profile-edit {
                    position: absolute;
                    width: 230px;
                    height: 157px;
                    top: 38px;
                    right: -20px;
                    align-items: center;
                    justify-content: center;
                    background-color: #ffffff;
                    box-shadow: 0px 0px 2px 2px #e8e8e8;
                    border-radius: 8px;
                    flex-direction: column;
                    cursor: pointer;

                    div.bg {
                        width: 100%;
                        height: 100%;
                        position: fixed;
                        top: 0px;
                        left: 0px;
                        z-index: 10;
                    }

                    div.tail {
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        top: -6px;
                        left: 190px;
                        background-color: #ffffff;
                        box-shadow: 1px 1px 1px 0.5px #e8e8e8;
                        transform: rotateZ(225deg);
                    }

                    button {
                        display: flex;
                        width: 100%;
                        min-height: 37px;
                        font-size: 14px;
                        text-align: left;
                        background-color: transparent;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 8px 16px;
                        cursor: pointer;
                        z-index: 20;

                        &:hover {
                            background-color: #fcf9f9;
                        }

                        &:focus {
                            outline: none;
                        }

                        &.setting {
                            height: 41px;
                        }

                        svg {
                            width: 16px;
                            height: 16px;
                        }

                        span {
                            margin-left: 14px;
                        }
                    }

                    button.logout {
                        border-top: 1px solid #dbdbdb;
                        height: 41px;
                    }
                }
            }
        }
    }
}

div.header-line {
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
}

div.content {
    display: flex;
    width: 100%;
    flex: 1;
    background-color: #fafafa;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;

    div.wrapper {
        display: flex;
        width: 935px;
        background-color: #fafafa;
        flex-direction: column;
        align-items: center;
        margin: 0px 244px 30px 244px;
        padding: 30px 20px 0px 20px;

        div.user-profile {
            display: flex;
            width: 935px;
            justify-content: center;
            margin-bottom: 44px;

            img {
                display: flex;
                width: 150px;
                height: 150px;
                border: 3px solid #d10123;
                border-radius: 50%;
                margin-left: 70px;
                margin-right: 66px;
                padding: 6px;
                cursor: pointer;
            }

            div.main_profile {
                display: flex;
                flex: 1;
                flex-direction: column;
                margin-left: 34px;

                div.user-id {
                    display: flex;
                    font-size: 28px;
                    align-items: center;
                    margin-bottom: 20px;

                    button.edit {
                        font-family: 'nsM';
                        background-color: #fafafa;
                        border: 1px solid #dbdbdb;
                        border-radius: 4px;
                        box-sizing: border-box;
                        margin-left: 20px;
                        padding: 5px 9px;
                        outline: none;
                        cursor: pointer;
                    }

                    div.preference {
                        display: flex;
                        width: 40px;
                        height: 40px;
                        align-items: center;
                        justify-content: center;
                        padding: 4px;

                        svg {
                            width: 24px;
                            height: 24px;
                            fill: #262626;
                            cursor: pointer;
                        }
                    }
                }

                div.count {
                    display: flex;
                    height: fit-content;
                    margin-bottom: 20px;

                    div.post {
                        display: flex;
                        height: fit-content;
                        align-items: center;
                        margin-right: 40px;

                        a {
                            font-size: 16px;
                        }

                        span {
                            font-size: 14px;
                            font-family: 'nsM';
                        }
                    }

                    .follower {
                        display: flex;
                        height: fit-content;
                        align-items: center;
                        margin-right: 40px;
                        cursor: pointer;

                        a {
                            font-size: 16px;
                        }

                        span {
                            font-size: 14px;
                            font-family: 'nsM';
                        }
                    }

                    .follow {
                        display: flex;
                        height: fit-content;
                        align-items: center;
                        cursor: pointer;

                        a {
                            font-size: 16px;
                        }

                        span {
                            font-size: 14px;
                            font-family: 'nsM';
                            cursor: pointer;
                        }
                    }
                }

                div.introduce {
                    line-height: 24px;

                    h1 {
                        font-size: 14px;
                        font-family: 'nsM';
                    }

                    span {
                        font-size: 14px;

                        a.hashtag {
                            font-size: 14px;
                            color: #00376b;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .tag {
            display: flex;
            width: 935px;
            height: 52px;
            border-top: 1px solid #e6e6e6;
            align-items: center;
            justify-content: center;

            div {
                display: flex;
                height: 52px;
                align-items: center;
                justify-content: center;

                margin-left: 30px;
                margin-right: 30px;
                padding-bottom: 1px;
                cursor: pointer;

                &.active {
                    border-top: solid 1px #000000;

                    svg {
                        fill: #262626;
                    }

                    span {
                        font-family: 'nsL';
                        color: #262626;
                    }
                }

                svg {
                    width: 12px;
                    height: 12px;
                    fill: #8e8e8e;
                }

                span {
                    font-size: 12px;
                    font-family: 'nsL';
                    color: #8e8e8e;
                    margin-left: 6px;
                }
            }
        }

        div.like-comment {
            display: grid;
            position: relative;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            grid-template-columns: repeat(3, 1fr); /* 1fr 1fr 1fr */
            grid-gap: 28px;

            span.like-comment {
                display: none;
                position: absolute;
                top: 100px;
                left: 100px;
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

div.posts {
    display: grid;
    position: relative;
    width: 935px;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    grid-template-columns: repeat(3, 1fr); /* 1fr 1fr 1fr */
    grid-gap: 28px;

    div.image-container {
        position: relative;
        width: 293px;
        height: 293px;
        cursor: pointer;

        div.numbers {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.3);
            align-items: center;
            justify-content: center;
            z-index: 1;

            div.wrapper {
                display: flex;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                    background-color: #ffffff;
                    border-radius: 10px;
                    margin-right: 8px;
                }

                span {
                    font-size: 16px;
                    font-family: 'nsL';
                    color: #ffffff;
                }

                &:nth-child(1) {
                    margin-right: 24px;
                }
            }
        }

        img.post {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
        }
    }
}

div.igtv {
    display: none;
    width: 266px;
    height: 220px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 60px 294px 44px 294px;
    padding-right: 44px;
    padding-left: 44px;

    p {
        &:nth-child(2) {
            font-size: 30px;
            font-family: 'nsL';
            margin-top: 24px;
        }

        &:nth-child(3) {
            font-size: 14px;
            margin-top: 12px;
        }
    }

    button {
        width: 94px;
        height: 30px;
        color: #ffffff;
        background-color: #2e9afe;
        border-radius: 4px;
        margin-top: 20px;
    }
}

div.saved {
    display: none;
    width: 356px;
    height: 202px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 60px 294px 44px 294px;

    div#save {
        background-image: url('../img/icon.png');
        background-position: -192px -269px;
        width: 62px;
        height: 62px;
    }

    span {
        font-size: 30px;
        font-family: 'nsL';
        margin-top: 14px;
        margin-bottom: 12px;
    }

    p {
        font-size: 14px;
    }
}

div.tagged {
    display: none;
    width: 356px;
    height: 184px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 60px 44px 60px 44px;

    div#tag {
        background-image: url('../img/icon.png');
        background-position: -256px -269px;
        width: 62px;
        height: 62px;
    }

    span {
        font-size: 30px;
        font-family: 'nsL';
        margin-top: 14px;
        margin-bottom: 12px;
    }

    p {
        font-size: 14px;
    }
}

div.footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #fafafa;
    flex-direction: column;
    align-items: center;

    div.wrapper {
        width: 1012px;
        height: 25px;
        padding: 38px 0px;

        div {
            display: flex;
            font-size: 12px;
            font-family: 'nsM';
            color: #00376b;
            margin-right: 16px;
            margin-bottom: 3px;

            span {
                display: inline-block;
                margin-bottom: 7px;
                margin-right: 16px;
                cursor: pointer;
            }

            p.copyright {
                right: 0;
                font-size: 12px;
                color: #8e8e8e;
            }
        }
    }
}

div.setting {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;

    div.wrapper {
        display: flex;
        width: 400px;
        height: 480px;
        background-color: #ffffff;
        border-radius: 12px;
        flex-direction: column;
        align-items: center;

        button {
            width: 100%;
            min-height: 48px;
            font-size: 14px;
            text-align: center;
            line-height: 1.5px;
            background-color: transparent;
            border-top: 1px solid #dbdbdb;
            padding: 4px 8px;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:nth-child(1) {
                border-top: none;
            }
        }
    }
}

@font-face {
    font-family: 'nsB';
    src: url('../font/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'nsM';
    src: url('../font/NotoSansKR-Medium.otf');
}

@font-face {
    font-family: 'nsL';
    src: url('../font/NotoSansKR-Light.otf');
}
